<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/instructions.css">

<div class="container p-2 mt-3">
    <h1 class="text-center"><%= exam.name %> </h1>
    <hr />

    <div id="welcome">
        <h3 class="text-center">Instructions</h3>
        <ul>
            <li>
                You have <strong><span class="exam-duration"><%= exam.duration %></span></strong> minutes to finish the exam
            </li>
            <li>
                If you've not completed the exam after <%= exam.duration %>  mins, the exam will automatically end
            </li>
            <li>

                <%if(exam.questions.length < 2) { %> 
                    There is <%= exam.questions.length %> question in total with 4 responses 
                <% }else{ %> 
                    There are <strong><%= exam.questions.length %> questions</strong> in total. Each question comprises four responses. You will select the response which you want.
                <% } %> 
            </li>
            <li>
                If you feel that there is more than one correct response, mark the ONLY ONE response which you consider the best.
            </li>
            <li>
                All questions carry equal marks.
            </li>
            <li>
                If a question is left blank, i.e., no answer is given by the candidate, there will be no penalty for that question.
            </li>
            <li>
                Click on the <em>Start Exam</em> button to begin
            </li>
        </ul>
        <a href="/candidate/exam/<%=exam._id %>/running" class="btn btn-primary" id="start-exam">Start Exam</a>
    </div>

        <script src="/javascripts/running.js"></script>
