<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/instructions.css">

<div class="container p-2 mt-3">
    <h1 class="text-center"><%= exam.name %> </h1>
    <hr />

    <div id="welcome">
        <h3 class="text-center">Instructions</h3>
        <ul>
            <li>
                You have <strong><span class="exam-duration"><%= exam.duration %></span></strong> minutes to finish the exam
            </li>
            <li>
                If you've not completed the exam after <%= exam.duration %>  mins, the exam will automatically end and your answers will be submitted
            </li>
            <li>

                <%if(exam.questions.length < 2) { %> 
                    There is <%= exam.questions.length %> question in total with 4 responses 
                <% }else{ %> 
                    There are <strong><%= exam.noOfQuestions %> questions</strong> in total. Each question comprises four responses. You will select the response which you want.
                <% } %> 
            </li>
            <li>
                If you feel that there is more than one correct response, click on the ONLY ONE response which you consider the best.
            </li>
            <li>
                All questions carry equal marks.
            </li>
            <li>
                Your exam is presented one question at a time. You must choose an answer to be able to click on the next question number.
            </li>
            <li>
                <strong>Do not</strong> run other applications while taking this exam unless otherwise directed by your Instructor
            </li>
            <li>
                <strong>Do not</strong>  refresh the browser window or close the window after loading the exam
            </li>
            <li>
                <strong>Do not</strong>  use the "Back" and "Forward" buttons in your web browser when you are taking the Exam.
            </li>
            <li>
                You cannot advance to the next question if the current question is unanswered. But you can always return to change your answer.
            </li>
            <li>
                Click on the <em>Start Exam</em> button to begin
            </li>
        </ul>
        <a href="/candidate/exam/<%=exam._id %>/running" class="btn btn-primary" id="start-exam">Start Exam</a>
    </div>

        <script src="/javascripts/running.js"></script>
