<% layout('layouts/boilerplate') %> 
<link href="/stylesheets/styles.css" rel="stylesheet" />

<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
        <nav class="sb-topnav navbar navbar-expand navbar-dark">
            <a class="navbar-brand" href="/">Loctech Scholarship</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ml-auto ml-md-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Settings</a>
                        <a class="dropdown-item" href="#">Activity Log</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/staff/logout">Logout <i class="fad fa-sign-out-alt"></i></a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="/staff/dashboard">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Tasks</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
                                People
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="/staff/dashboard/candidate/new">New Candidate</a>
                                    <a class="nav-link" href="/staff/dashboard/new-staff">Manage Staff</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Exams & Results
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav" id="sidenavAccordionPages">
                                    <a class="nav-link" href="/staff/dashboard/exams">
                                        Manage Exams
                                    </a>
                                    <a class="nav-link" href="/staff/dashboard/exams/results">
                                        View Results
                                    </a>
                                
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Quick Links</div>
                            <a class="nav-link" href="/staff/dashboard/candidate/new">
                                <div class="sb-nav-link-icon"><i class="fas fa-user-plus"></i></div>
                                New Candidate
                            </a>
                            <a class="nav-link" href="/staff/dashboard/exams">
                                <div class="sb-nav-link-icon"><i class="fas fa-edit"></i></div>
                                Manage Exams
                            </a>
                            <a class="nav-link" href="/staff/dashboard/exams/results">
                                <div class="sb-nav-link-icon"><i class="fas fa-poll"></i></div>
                                View Results
                            </a>
                            <a class="nav-link" href="/staff/logout">
                                <div class="sb-nav-link-icon"><i class="fad fa-sign-out-alt"></i></div>
                                Logout
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        <%= currentStaff.username %> 
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1>Dashboard <i class="fas fa-tachometer-alt"></i></h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Welcome <%=currentStaff.username %> </li>
                        </ol>
                        <div class="row">
                           
                                <div class="col-xl-4 col-md-6">
                                    <div class="card bg-primary text-white mb-4">
                                        <div class="card-body">REGISTERED CANDIDATES</div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <%=candidates.length%>
                                            <div class="small text-white"></div>
                                            <!-- <i class="fas fa-angle-right"></i> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card bg-success text-white mb-4">
                                        <div class="card-body">EXAMS TAKEN</div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <%=results.length%>
                                            <div class="small text-white"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card bg-danger text-white mb-4">
                                        <div class="card-body">QUESTION BANK</div>
                                        <div class="card-footer d-flex align-items-center justify-content-between">
                                            <%=questions.length %>
                                            <div class="small text-white"></div>
                                        </div>
                                    </div>
                                </div>
                           
                            
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table mr-1"></i>
                                Registered Candidates
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Username</th>
                                                <th>Email</th>
                                                <th>Course</th>
                                                <th>Phone</th>
                                                <th>Password</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Username</th>
                                                <th>Email</th>
                                                <th>Course</th>
                                                <th>Phone</th>
                                                <th>Password</th>
                                                <th scope="col"></th>
                                                <th scope="col"></th>
                                                
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <% for(let candidate of candidates){ %> 
                                                <tr>
                                                    <td><%= candidate.username %> </td>
                                                    <td><%= candidate.email %> </td>
                                                    <td><%= candidate.course  %> </td>
                                                    <td><%= candidate.phone %> </td>
                                                    <td><%= candidate.passcode %> </td>

                                                    <!-- Edit Modal Candidate -->
                                                    <td class="text-center">
                                                        <!-- Edit Modal Button -->
                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#editAdminModal<%= candidate._id %>"><i class="fas fa-pen text-warning"></i></a>
                                                        <!-- Edit Modal Button -->
                    
                                                        <!-- Edit Admin Modal -->
                                                        <div class="modal fade" id="editAdminModal<%= candidate._id %>" tabindex="-1" aria-labelledby="editAdminModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="editAdminModalLabel">Edit Candidate</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                    
                                                                    <!-- Edit Admin Form -->
                                                                    <form action = "/staff/dashboard/candidate/<%= candidate._id %>?_method=PUT" method="POST" novalidate class="candidate-edit validated-form">
                                                                        <div class="modal-body p-4">
                                                                            <input type="text" name="username" placeholder="Username" class="form-control my-2" value="<%= candidate.username %>">
                                                                            <input type="email" name="email" placeholder="Email" class="form-control my-2" value="<%= candidate.email %>">
                                                                            <input type="text" name="course" placeholder="Course" class="form-control my-2" value="<%= candidate.course %>">
                                                                            <input type="tel" name="phone" placeholder="Phone Number" class="form-control my-2" value="<%= candidate.phone %>">
                                                                            
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-primary">Save</button>
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                        </div>
                                                                    </form>
                                                                    <!-- Edit Admin Form -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Edit Admin Modal -->
                                                    </td>
                                                    <!-- Edit Modal Candidate -->

                                                    <!-- Delete Modal candidate -->
                                                    <td class="text-center">
                                                        <!-- Delete Modal Button -->
                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#deleteAdminModal<%= candidate._id %>"><i class="far fa-trash-alt text-danger"></i></a>
                                                        <!-- Delete Modal Button -->
                    
                                                        <!-- Delete Admin Modal -->
                                                        <div class="modal fade" id="deleteAdminModal<%= candidate._id %>" tabindex="-1" aria-labelledby="deleteAdminModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="deleteAdminModalLabel">Delete Candidate</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                    
                                                                    <!-- Delete Admin Form -->
                                                                    <form action="/staff/dashboard/candidate/<%= candidate._id %>?_method=DELETE" method="POST" class="admin-delete">
                                                                        <div class="modal-body p-4">
                                                                            <p>Are you sure you want to delete <%= candidate.username %>?</p>
                                                                            <input type="hidden" name="id" value="<%= candidate._id %>">
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-primary">Delete</button>
                                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                        </div>
                                                                    </form>
                                                                    <!-- Delete Admin Form -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Delete Admin Modal -->
                                                    </td>



                                                    <!-- Delete Modal Candidate -->

                                                </tr>
                                            <% } %>                                     
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Loctech Online Exam Software 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              